@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 70px;
}

/* Header Start */
.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgb(36, 41, 47);
  align-items: center;
  font-family: "Poppins", sans-serif;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  height: 30px;
  margin-right: 10px;
}

.brand h2 {
  font-size: 1rem;
  margin: 0;
}

.login a {
  text-decoration: none;
  font-size: 1 rem;
  color: #fff;
  transition: all 0.3s;
}

.login a:hover {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 576px) {
  .header {
    height: calc(var(--header-height) + 10px);
  }
  .brand h2,
  .login a {
    font-size: 1.25rem;
  }

  .login a:hover {
    font-size: 1.5rem;
  }
}

/* Header end */
